<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>NodeJs task</title>
</head>
<body>
    <div class="container">
        <h1 style="align-items:center;">Psy details</h1>
       
        <table class="table table-dark table-striped" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th>Hospital Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                   
                </tr>
            </thead>
            <tbody>
                <%user.forEach(function(p){%>
                        <tr>
                            <td><%= p.HospitalName%></td>
                            <td><%= p.FirstName%></td>
                            <td><%= p.LastName%></td>
                           
                        </tr>
                <% }); %>
            </tbody>
        
         
        </table>
      
        
       
      
    </div>
  
</body>
</html>